html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", sans-serif;
  font-weight: normal;
}

h1 {
  color: #3f1622;
}

img {
  width: 100%;
}

a {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}
